<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--Set connection string for SQL Server-->
	<connectionStrings>
		<add name="DefaultConnection" 
			 connectionString="Data Source=.\SQLExpress;Integrated Security=True;Connect Timeout=30;Encrypt=False;
			 TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>

	<system.serviceModel>
		<services>
			<service behaviorConfiguration="MyServiceBehavior" name="Microsoft.Samples.GettingStarted.CalculatorService">
				<endpoint address="http://microsoft.com/WCFservices/Calculator"
					binding="wsHttpBinding" bindingConfiguration="MembershipBinding"
					name="ASPmemberUserName" contract="Microsoft.Samples.GettingStarted.ICalculator" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MyServiceBehavior">
					<serviceCredentials>
						<userNameAuthentication
							userNamePasswordValidationMode="MembershipProvider"
							membershipProviderName="SqlMembershipProvider" />
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<wsHttpBinding>
				<binding name="MembershipBinding">
					<security mode="Message">
						<message clientCredentialType="UserName" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

</configuration>