<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--Set connection string for SQL Server-->
	<connectionStrings>
		<add name="DefaultConnection" 
			 connectionString="Data Source=.\SQLExpress;Integrated Security=True;Connect Timeout=30;Encrypt=False;
			 TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>

	<system.web>
		<!--Configure SQL Membership Provider-->
		<membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="15">
			<providers>
				<clear />
				<add
					name="SqlMembershipProvider"
					type="System.Web.Security.SqlMembershipProvider"
					connectionStringName="SqlConn"
					applicationName="MembershipAndRoleProviderSample"
					enablePasswordRetrieval="false"
					enablePasswordReset="false"
					requiresQuestionAndAnswer="false"
					requiresUniqueEmail="true"
					passwordFormat="Hashed" />
			</providers>
		</membership>
	</system.web>

	<system.serviceModel>
		<bindings>
			<!--Set up a binding that uses UserName as the client cred-->
			<wsHttpBinding>
				<binding name="MembershipBinding">
					<security mode ="Message">
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

</configuration>