@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Device Live Service System</h1>
    <br />
    <h2>Welcome!</h2>
</div>

<div>
    <h4>Devices</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">

        </dt>
    </dl>
</div>
