@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Device Live Service System</h1>
    <br />
    <h2>Welcome!</h2>
    <p>Login to view devices.</p>
    <a asp-action="Login">Existing User</a>
</div>
